.icon--icon-arrow-simple {
  width: 20px;
  height: 8px;
}

.icon--icon-arrow {
  width: 36px;
  height: 27px;
}

.icon--icon-close {
  width: 16px;
  height: 16px;
}

.icon--icon-fb {
  width: 12px;
  height: 24px;
}

.icon--icon-inst {
  width: 24px;
  height: 24px;
}

.icon--icon-magni {
  width: 17px;
  height: 17px;
}

.icon--icon-menu {
  width: 13px;
  height: 9px;
}

.icon--icon-rss {
  width: 19px;
  height: 19px;
}

.icon--icon-tw {
  width: 24px;
  height: 20px;
}

.icon--icon-yt {
  width: 27px;
  height: 19px;
}

.icon--logo-rb {
  width: 54px;
  height: 50px;
}

