section.l-article
    .c-container.c-container--small
        h2.l-article__heading.c-heading.c-heading--primary.c-heading--large Marketing With Love: Jde to vůbec dohromady?
        .l-article__wrapper
            .l-article__aside
                .c-aside
                    .c-aside__img
                        img(src="/img/jpg/author.jpg" srcset="/img/jpg/author@2x.jpg 2x", alt="autor")
                        .c-stamp.c-stamp--single.c-stamp--top-left
                            p.c-stamp__text Autor článku
                    .c-aside__author
                        h3.c-aside__heading Magdalena Dušková
                        p Absolventka Marketingové komunikace a PR na FSV UK, nyní studentka StuNoMe na FF UK. Zajímá se snad o všechno, psala bakalářku o pornu, ale nejvíc jí baví umění a videohry.
                    .c-aside__author-social
                        h3.c-aside__heading Sleduj autora
                        ul
                            li
                                a(href="/" target="_blank") Facebook
                            li
                                a(href="/" target="_blank") Twitter
                            li
                                a(href="/" target="_blank") Instagram

            .l-article__content
                p <i>V polovině února se ve vinohradském Royal Theatre uskutečnila konference s&nbsp;optimistickým názvem Marketing With Love. Na podiu tak  například vystoupili Jakub Horák, Josef Havelka či Milan Formánek. Hovořilo se jak o&nbsp;emocích a&nbsp;datech, tak i&nbsp;o&nbsp;influencerech a&nbsp;digitálním marketingu. Navštěvníky těšil i&nbsp;fakt, že celý výtěžek z&nbsp;akce šel na podporu neziskové organizaci.</i>

                .l-article__img
                    img(src="/img/jpg/img-01.jpg" srcset="/img/jpg/img-01@2x.jpg 2x", alt="img")
                    .c-stamp.c-stamp--top-left
                        p.c-stamp__date 22. května 2018
                        .c-stamp__link
                            a(href="") Komentáře

                p Moderátorem MWL byl stand-up komik Jiří Charvát, jehož kritický pohled bavil diváky po celý den. Konferenci uvedl slovy: ‚‚Jak víme, marketing nutí lidi kupovat si věci, které nepotřebují. My jsme tu dnes od toho, abychom vám ukázali, že i tato zdánlivě ošklivá a neblahá činnost jde dělat s láskou.” Nutno říci, že toto byla asi nejoptimistější věta adresovaná našemu oboru. O přestávkách byly na plátně promítány jeho citáty jako: ‚‚Spotřebitelský ovce teď podle všeho zbožňujou příběhy a zajímavej obsah. Nejspíš proto, že jejich vlastní život žádnej nemá.”

                p První blok přednášek otevřel Jan Řehák, ředitel kteativní agentury AdHackers, který nás provedl mediální džunglí, jak sám rád nazývá chaotickou změť komunikačních kanálů. Mluvil například o efektivitě digitálu, v rámci čehož upozornil, že ač si spousta lidí myslí, že je televize mrtvá, tak má pořád největší ROI (return of investment). Po něm přišla na pódium Tereza Kučerová, marketingová ředitelka Bonami.cz,. Ta svou růžovou prezentaci pojmenovala O marketingu, lásce a jiných běsech. Mluvila převážně o příbězích a emocích. V kontextu toho citovala americkou básnířku Mayu Angelou:

                p.l-article__quote.c-heading.c-heading--primary “Lidé zapomenou, co jste říkali a&nbsp;udělali. Ale nezapomenou, jak se u&nbsp;toho cítili.”

                p Na pódium vyšel Filip Podstavec, který nás zasvětil do tajemství growth hackingu, mluvil například o Alze a kryptoměnách. Také ukazoval, jak se dá v marketingu využít FOMO (fear of missing out), což je jeden z velmi mocných nástrojů na ovlivňování lidského chování. Slevy, poslední kusy a jedinečné nabídky, zaručený způsob, jak polapit nerozhodnuté zákazníky. Po něm byl na řadě HR specialista Petr Skondrojanis, který mluví o tom, jak udělat dobrou HR kampaň.

                .l-article__video
                    .l-article__video-inner
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/zZPZBMQTlMA?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

                p Jiří Charvát vyzval na pódium experta na interní komunikaci, Michaela Sida. Sido v současné době působí ve společnosti Philip Morris, nicméně ve své přednášce se věnoval svému bývalému zaměstnání – interní komunikaci ve firmě T-mobile. Zde i přes všechnu nevoli svých nadřízených z Německa rozjel Facebook Workspace, s jehož přínosnými vlastnostmi nás seznámil. Po něm na pódium přišel přednášet Milan Formánek, digitální a komunikační manažer Red Bull Media House. Jakmile skončil, nedovedla jsem si představit, že by někdo mohl stále nemilovat Red Bull. Mluvil o spolupráci s mladými sportovci, umělci a obecně o podpoře kultury.

                .l-article__caption
                    img(src="/img/jpg/img-02.jpg" srcset="/img/jpg/img-02@2x.jpg 2x", alt="img")
                    p.l-article__caption-text Milan Formánek mluví o&nbsp;firmě Red Bull a&nbsp;influencerech, které využívá.

                p Konference si kladla za cíl ukázat, že nemusíte nutně zapadnout do šedé zóny průměrnosti a že se dá marketing dělat jinak, ba dokonce i s láskou. Navštěvníky jistě potěšila i dobročinná povaha celé akce a profesionalita všech účinkujících (včetně satirických poznámek moderátora). Už teď se nemůžeme dočkat dalšího ročníku této zajímavé akce v srdci Prahy. Děkujeme organizátorům a jen tak dál! 
