section.l-contact
    header.l-contact__header
        p.l-contact__fb
            a(href="http://www.facebook.com/markething.cz" target="_blank") Sledujte nás na Facebooku
                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="27" viewBox="0 0 35.64 26.58">
                <g>
                    <line y1="13.29" x2="33.88" y2="13.29" style="fill: none;stroke: currentColor;stroke-miterlimit: 10;stroke-width: 2.5px"/>
                    <polyline points="21.47 0.88 33.88 13.29 21.47 25.7" style="fill: none;stroke: currentColor;stroke-miterlimit: 10;stroke-width: 2.5px"/>
                </g>
                </svg>
    .c-container.c-container--small
        .l-contact__content
            h2.l-contact__heading Novinky ze světa markethingu každé 2&nbsp;týdny ve vašem e-mailu
            form(action="/" method="get").l-contact__form.c-form
                input(type="email" placeholder="Sem zadejte svůj e-mail").c-input.c-input--primary
                button(type="submit").c-btn.c-btn--small.c-btn--primary Chci newsletter
