.l-intro
    .c-container.c-container--small
        .c-row.c-row--small
            .c-col
                .c-article.c-article--primary.js-article
                    .c-article__img
                        <a href="/">
                            img(src="/img/jpg/article-main.jpg" srcset="/img/jpg/article-main@2x.jpg 2x", alt="")
                        </a>
                        .c-stamp.c-stamp--bottom-right
                            p.c-stamp__date 22. května 2018
                            .c-stamp__link
                                a(href="") Komentáře
                    .c-article__info
                        p.c-article__heading <a href="/">„Jardo, přijeď!“ Organizátoři konference Glorious mají recept, jak získat velká jména</a>
                        p.c-article__text V polovině února se ve vinohradském Royal Theatre uskutečnila konference s&nbsp;optimistickým názvem Marketing With Love. Na podiu tak  například vystoupili Jakub Horák, Josef Havelka či Milan Formánek. Hovořilo se jak o&nbsp;emocích a&nbsp;datech, tak i&nbsp;o&nbsp;influencerech a&nbsp;digitálním marketingu. Navštěvníky těšil i&nbsp;fakt, že celý výtěžek z&nbsp;akce šel…

        .l-intro__more
            .c-row.c-row--large
                .c-col.c-col--large.c-col--2
                    .c-article.js-article
                        .c-article__img
                            <a href="/">
                                img(src="/img/jpg/article-01.jpg" srcset="/img/jpg/article-01@2x.jpg 2x", alt="")
                            </a>
                            .c-stamp.c-stamp--bottom-left
                                p.c-stamp__date 22. května 2018
                                .c-stamp__link
                                    a(href="/") Komentáře
                        .c-article__info
                            p.c-article__heading <a href="/">Vítejte v budoucnosti: Shudu, první digitální supermodelka</a>
                            p.c-article__text Pronikavé oči, bezchybná pleť a dechberoucí silueta. Tak zní některá z nadšených hodnocení uživatelů sociálních sítí, kteří již narazili na instagramový účet modelky @shudu.gram. Ten sice obsahuje pouze 20 příspěvků, nicméně jej sleduje už přes…

                .c-col.c-col--large.c-col--2
                    .c-article.js-article
                        .c-article__img
                            <a href="/">
                                img(src="/img/jpg/article-02.jpg" srcset="/img/jpg/article-02@2x.jpg 2x", alt="")
                            </a>
                            .c-stamp.c-stamp--bottom-left
                                p.c-stamp__date 22. května 2018
                                .c-stamp__link
                                    a(href="") Komentáře
                        .c-article__info
                            p.c-article__heading <a href="/">Pavlína Louženská: Reklama umí skvěle navonět věci, navoňujeme tak své životy</a>
                            p.c-article__text Pronikavé oči, bezchybná pleť a dechberoucí silueta. Tak zní některá z nadšených hodnocení uživatelů sociálních sítí, kteří již narazili na instagramový účet modelky @shudu.gram. Ten sice obsahuje pouze 20 příspěvků, nicméně jej sleduje už přes…
                .c-col.c-col--large.c-col--2
                    .c-article.js-article
                        .c-article__img
                            <a href="/">
                                img(src="/img/jpg/article-03.jpg" srcset="/img/jpg/article-03@2x.jpg 2x", alt="")
                            </a>
                            .c-stamp.c-stamp--bottom-left
                                p.c-stamp__date 22. května 2018
                                .c-stamp__link
                                    a(href="") Komentáře
                        .c-article__info
                            p.c-article__heading <a href="/">Vítejte v budoucnosti: Shudu, první digitální supermodelka</a>
                            p.c-article__text Pronikavé oči, bezchybná pleť a dechberoucí silueta. Tak zní některá z nadšených hodnocení uživatelů sociálních sítí, kteří již narazili na instagramový účet modelky @shudu.gram. Ten sice obsahuje pouze 20 příspěvků, nicméně jej sleduje už přes…
                .c-col.c-col--large.c-col--2
                    .c-article.js-article
                        .c-article__img
                            <a href="/">
                                img(src="/img/jpg/article-04.jpg" srcset="/img/jpg/article-04@2x.jpg 2x", alt="")
                            </a>
                            .c-stamp.c-stamp--bottom-left
                                p.c-stamp__date 22. května 2018
                                .c-stamp__link
                                    a(href="") Komentáře
                        .c-article__info
                            p.c-article__heading <a href="/">Pavlína Louženská: Reklama umí skvěle navonět věci, navoňujeme tak své životy</a>
                            p.c-article__text Pronikavé oči, bezchybná pleť a dechberoucí silueta. Tak zní některá z nadšených hodnocení uživatelů sociálních sítí, kteří již narazili na instagramový účet modelky @shudu.gram. Ten sice obsahuje pouze 20 příspěvků, nicméně jej sleduje už přes…
                .c-col.c-col--large.c-col--2
                    .c-article.js-article
                        .c-article__img
                            <a href="/">
                                img(src="/img/jpg/article-05.jpg" srcset="/img/jpg/article-05@2x.jpg 2x", alt="")
                            </a>
                            .c-stamp.c-stamp--bottom-left
                                p.c-stamp__date 22. května 2018
                                .c-stamp__link
                                    a(href="") Komentáře
                        .c-article__info
                            p.c-article__heading <a href="/">Vítejte v budoucnosti: Shudu, první digitální supermodelka</a>
                            p.c-article__text Pronikavé oči, bezchybná pleť a dechberoucí silueta. Tak zní některá z nadšených hodnocení uživatelů sociálních sítí, kteří již narazili na instagramový účet modelky @shudu.gram. Ten sice obsahuje pouze 20 příspěvků, nicméně jej sleduje už přes…
                .c-col.c-col--large.c-col--2
                    .c-article.js-article
                        .c-article__img
                            <a href="/">
                                img(src="/img/jpg/article-06.jpg" srcset="/img/jpg/article-06@2x.jpg 2x", alt="")
                            </a>
                            .c-stamp.c-stamp--bottom-left
                                p.c-stamp__date 22. května 2018
                                .c-stamp__link
                                    a(href="") Komentáře
                        .c-article__info
                            p.c-article__heading <a href="/">Pavlína Louženská: Reklama umí skvěle navonět věci, navoňujeme tak své životy</a>
                            p.c-article__text Pronikavé oči, bezchybná pleť a dechberoucí silueta. Tak zní některá z nadšených hodnocení uživatelů sociálních sítí, kteří již narazili na instagramový účet modelky @shudu.gram. Ten sice obsahuje pouze 20 příspěvků, nicméně jej sleduje už přes…

        .l-intro__action
            a(href="/").c-btn.c-btn--large.c-btn--primary Další články
