section.l-more
    .c-container.c-container--small
        h2.l-more__heading.c-heading.c-heading--secondary.c-heading--small Přečtěte si také
        .l-more__content
            .c-row.c-row--small
                .c-col.c-col--2
                    a(href="/").c-card
                        .c-card__img
                            img(src="/img/jpg/article-07.jpg" srcset="/img/jpg/article-07@2x.jpg 2x", alt="")
                        .c-card__info
                            p.c-card__heading Novinky, tradice a všudypřítomné emoce.

                .c-col.c-col--2
                    a(href="/").c-card
                        .c-card__img
                            img(src="/img/jpg/article-08.jpg" srcset="/img/jpg/article-08@2x.jpg 2x", alt="")
                        .c-card__info
                            p.c-card__heading Jak se z debaty o sexuálním násilí stal bizár

                .c-col.c-col--2
                    a(href="/").c-card
                        .c-card__img
                            img(src="/img/jpg/article-07.jpg" srcset="/img/jpg/article-07@2x.jpg 2x", alt="")
                        .c-card__info
                            p.c-card__heading Novinky, tradice a všudypřítomné emoce.

                .c-col.c-col--2
                    a(href="/").c-card
                        .c-card__img
                            img(src="/img/jpg/article-08.jpg" srcset="/img/jpg/article-08@2x.jpg 2x", alt="")
                        .c-card__info
                            p.c-card__heading Jak se z debaty o sexuálním násilí stal bizár

        .l-more__action
            a(href="/").c-btn.c-btn--large.c-btn--secondary Více z kategorie marketing
